@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: rgb(203 213 225);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary: #FFCE00;
  --secondary: #FE4880
  --dark: #212121;
  --light: #f3f3f3;
}

.card_inner {
  width: 100%;
  height: 100%;
  transform: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
}